<!-- Create the Index View -->
<%- include('header') %>
<div class="container">
  <h1><%=title%></h1>
  <a href="/profile">Profile</a>
</div>

<!-- Update the Index View -->
<%- include("summary", {account:accounts.savings}) %>
<%- include("summary", {account:accounts.checking}) %>
<%- include("summary", {account:accounts.credit}) %>

<br />
<!-- Update Views -->
<a href="/services/transfer">Transfer</a>
<%- include('footer') %>
